<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net40" />
  <package id="OxyPlot.Wpf" version="2014.1.546" targetFramework="net40" requireReinstallation="True" />
  <package id="P2F" version="1.4" targetFramework="net40" />
  <package id="xunit" version="1.8.0.1549" targetFramework="net45" />
</packages>